html {
  font-size: 10px;
}

body {
  background-color: rgb(229, 229, 229);
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr 100px;
}

h1 {
  font-size: 2.4rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.6rem;
  margin: 0;
}
