$color-blue: rgba(94, 150, 252, 1);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(35, 33, 52, 1);
$color-red: rgb(255, 0, 0);
$color-gray: rgb(229, 229, 229);
// box-shadow
$shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
// breakpoints
$breakpoints: (
  "small": 560px,
  "medium": 980px,
  "large": 1200px,
) !default;
