@import "../../sass/abstracts/variables";

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-modal-background;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalWindow {
  position: relative;
  width: 60vw;
  height: 80vh;
  background-color: $color-gray;
}
.modalWindowCross {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  right: 0;
  width: 30px;
  height: 30px;
  background-image: url("../../../public/cross.svg");
}
