@import "../../../sass/abstracts/variables";

.listItemWrapper {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-blue;
  border-radius: 0.5rem;
  h2 {
    margin-left: 1rem;
    color: $color-white;
  }
  &:hover {
    cursor: pointer;
    box-shadow: $shadow;
    background-color: $color-button;
  }
}
.deleteIcon {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  color: $color-white;
  border-radius: 50%;
  &:hover {
    color: $color-black;
    background-color: $color-white;
  }
}
